<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tobi Ajibade Resume</title>
    <link rel="stylesheet" href="styles/main.css">
    {{!-- twitter tags --}}
    {{!-- facebook tags --}}
</head>
<body>
    <noscript>Please enable javascript in your browser to be able to see this page. Thanks </noscript>
    {{{body}}}
    <script src="/scripts/main.js"></script>
</body>
</html>