<div class="container">
    <div class="resume-title">
        <h1>My resume</h1>
    </div>
    <div class="avatar">
        <img src="images/avatar.jpeg" alt="Tobi ajibade">
    </div>
    <div class="basic-info-container">
        <div class="basic-info-identity">
            <p class="fullname">Tobiloba Ajibade Heritage</p>
            <p class="job-role">Software Engineer</p>
        </div>
        <div class="basic-info-desc">
            <p>Am a professional software engineer with more than 1 year experience in building scalable and productive backend services with security and best pratices in mind.</p>
        </div>
        <div class="basic-info-contact">
            <h2 class="h2">Contact info</h2>
            <div class="contact-list">
                <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                    height="16">
                    <path fill-rule="evenodd"
                        d="M1.75 2A1.75 1.75 0 000 3.75v.736a.75.75 0 000 .027v7.737C0 13.216.784 14 1.75 14h12.5A1.75 1.75 0 0016 12.25v-8.5A1.75 1.75 0 0014.25 2H1.75zM14.5 4.07v-.32a.25.25 0 00-.25-.25H1.75a.25.25 0 00-.25.25v.32L8 7.88l6.5-3.81zm-13 1.74v6.441c0 .138.112.25.25.25h12.5a.25.25 0 00.25-.25V5.809L8.38 9.397a.75.75 0 01-.76 0L1.5 5.809z">
                    </path>
                </svg></div>
                <div class="details"><a href="mailto:herityjohnny14@gmail.com">herityjohnny14@gmail.com</a></div>
            </div>
            <div class="contact-list">
                <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                    height="16">
                    <path fill-rule="evenodd"
                        d="M1.75 2A1.75 1.75 0 000 3.75v.736a.75.75 0 000 .027v7.737C0 13.216.784 14 1.75 14h12.5A1.75 1.75 0 0016 12.25v-8.5A1.75 1.75 0 0014.25 2H1.75zM14.5 4.07v-.32a.25.25 0 00-.25-.25H1.75a.25.25 0 00-.25.25v.32L8 7.88l6.5-3.81zm-13 1.74v6.441c0 .138.112.25.25.25h12.5a.25.25 0 00.25-.25V5.809L8.38 9.397a.75.75 0 01-.76 0L1.5 5.809z">
                    </path>
                </svg></div>
                <div class="details">+2349072939699</div>
            </div>
            <div class="contact-list">
                <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                    height="16">
                    <path fill-rule="evenodd"
                        d="M11.536 3.464a5 5 0 010 7.072L8 14.07l-3.536-3.535a5 5 0 117.072-7.072v.001zm1.06 8.132a6.5 6.5 0 10-9.192 0l3.535 3.536a1.5 1.5 0 002.122 0l3.535-3.536zM8 9a2 2 0 100-4 2 2 0 000 4z">
                    </path>
                </svg></div>
                <div class="details">Ibadan, Nigeria</div>
            </div>
            <div class="contact-list">
                <div class="icon"><svg viewBox="328 355 335 276" xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16">
                    <path d="
                                        M 630, 425
                                        A 195, 195 0 0 1 331, 600
                                        A 142, 142 0 0 0 428, 570
                                        A  70,  70 0 0 1 370, 523
                                        A  70,  70 0 0 0 401, 521
                                        A  70,  70 0 0 1 344, 455
                                        A  70,  70 0 0 0 372, 460
                                        A  70,  70 0 0 1 354, 370
                                        A 195, 195 0 0 0 495, 442
                                        A  67,  67 0 0 1 611, 380
                                        A 117, 117 0 0 0 654, 363
                                        A  65,  65 0 0 1 623, 401
                                        A 117, 117 0 0 0 662, 390
                                        A  65,  65 0 0 1 630, 425
                                        Z" style="fill:#3BA9EE;" />
                </svg></a></div>
                <div class="details"><a href="">@bigg_aji</a></div>
            </div>
            <div class="contact-list">
                <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16"
                    height="16">
                    <path fill-rule="evenodd"
                        d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z">
                    </path>
                </svg></div>
                <div class="details"><a href="">tobiajibade.herokuapp.com</a></div>
            </div>
            <div class="contact-list">
                <div class="icon">
                    <img src="images/linkedin.svg" alt="">
                </div>
                <div class="details">Linkedin</div>
            </div>
            <div class="cta">
                <button id="form-opener">Contact me</button>
            </div>
        </div>
    </div>
    <div class="skills-container">
        <h2 class="h2">My skillsets</h2>
        <div class="skills">
            <img src="images/linkedin.svg" alt="javascript">
            <img src="images/linkedin.svg" alt="typescript">
            <img src="images/linkedin.svg" alt="nodejs">
            <img src="images/linkedin.svg" alt="postgresql">
            <img src="images/linkedin.svg" alt="Git">
            <img src="images/linkedin.svg" alt="heroku">
            <img src="images/linkedin.svg" alt="graphql">
        </div>
    </div>
    <div class="work-exp-container">
        <h2 class="h2">Work experience</h2>
        <p class="no-work-empty">No work experience yet</p>
    </div>
    <div class="orgs">
        <h2 class="h2">Organazations</h2>
        <p class="orgs-lists"><strong>DevsHelpDevs</strong></p>
        <p class="role">Backend lead<span class="period"> (2021 - present)</span></p>
    </div>
    <div class="edu">
        <h2 class="h2">Education</h2>
        <p class="course"><strong>Electrical Electronic engineering</strong></p>
        <p class="college-name">FSTC Ilesa <span class="period"> (2013 - 2016)</span></p>
    </div>

    <div class="lang">
        <h2 class="h2">Languages</h2>
        <p class="lang-list">English - fluently</p>
        <p class="lang-list">Yoruba - fluently</p>
    </div>

    <div class="contact-form-container popup" id="contact-form-container">
        <button id="close-form"><img src="images/x-circle.svg" alt=""></button>
        <h2 class="h2 contact-form">Contact me</h2>
        <form action="#" method="post" id="form-container">
            <div class="wrap-cont">
                <label for="fullname">Fullname</label><span class="required"> *</span><br>
                <div class="input-wrap">
                    <input type="text" id="fullname required" name="fullname">
                    <p id="fullname-msg"></p>
                </div>
            </div>
            <div class="wrap-cont">
                <label for="mail">Email address</label><span class="required"> *</span><br>
                <div class="input-wrap">
                    <input type="email" id="mail required" name="email">
                    <p id="mail-msg"></p>
                </div>
            </div>
            <div class="wrap-cont">
                <label for="phone">Phone number</label><br>
                <div class="input-wrap">
                    <input type="tel" id="phone" name="phone">
                </div>
            </div>
            <div class="wrap-cont">
                <label for="msg">Message</label><span class="required"> *</span><br>
                <div class="input-wrap">
                    <textarea id="msg" name="msg"></textarea>
                    <p id="msg-msg"></p>
                </div>
            </div>
            <div class="btn-wrap">
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    <footer>
        <p>Resume built by <a href="http://tobiajibade.herokuapp.com"
                target="_blank" rel="noopener noreferrer">Tobi Ajibade</a></p>
        <p>Created for <a href="http://" target="_blank"
                rel="noopener noreferrer"><img src="" alt=""></a></p>
    </footer>
</div>