// mobile first design
footer {
    p {
        line-height: 1.5;
        font-weight: 300;
        letter-spacing: 0.01rem;
        font-size: 0.9rem;
        img {
            object-fit: contain;
            width: 24px;
            height: 24px;
            vertical-align: middle;
        }
        margin: 0.5rem 0 0 0;
    }
    margin: 1rem 0;
}

@media screen and (min-width: 280px) {
    
}
@media screen and (min-width: 420px) {
    
}

//tablets

@media screen and (min-width: 540px) {
    
}
@media screen and (min-width: 720px) {
    
}

// laptops, desktops and large screens

@media screen and (min-width: 1024px) {
    
}
@media screen and (min-width: 1366px) {
    
}